#app{
    background-color: #ff6347;
    min-height: 100vh;
}

.bg-nav{
    background-color: #f8f8ff;
}

.navbar-light .navbar-nav .nav-link {
    /* color: #ffffffcc!important; */
    /* color: #fff!important; */
    color: #000!important;
}

.nav-pt-10{
    padding-top: 12px;
}

.top-avatar{
    width: 30px!important;
    border:1px solid transparent;
    border-radius: 100%;
    vertical-align: bottom;
}

.leaderboard-top-student-card:nth-child(-n+3){
    border: 5px solid #c1a716!important;
}

.full-height{
    min-height: 80vh;
    padding-top: 15px;
    padding-bottom: 15px;
}

.login{
    background-image: url("../images/white-bg-01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: middle;
}

.login-form-title{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.login-form-spacer{
    padding-top: 100px;
    padding-bottom: 100px;
}

ion-icon{
    vertical-align: bottom!important;
    margin-right: 5px;
    font-size: 24px;
}
